body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.admin-panel {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.nav-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-bar button.active,
.nav-bar button:hover {
  background-color: white;
  color: black;
}

.section {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #218838;
}

select{
padding: 8px;
  margin: 5px 5px 6px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f7f7f7;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  height: 100vh;   
}

.login-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container input{
  width: 100%;
  align-self: center;
}

.login-container button {
  width: 105%;
  align-self: center;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
}

.button-group {
  display: flex;
  gap: 8px;
  background-color: #28a745;
  color: white;
}